/* src/styles/global.css */

/* Eliminar el borde por defecto de todos los elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Eliminar borde blanco alrededor del body */
/* global.css */

/* Estilos globales básicos */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Asegúrate de que los estilos globales no afecten a tablas específicas */
table {
  border-spacing: 0;
  border-collapse: collapse;
}
/* Aplicar la fuente Montserrat o Rubik a los h1 */
h1, h2, p, label, a, button, input{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Puedes cambiar este valor a cualquier peso de fuente disponible (100, 200, 300, 400, 500, 600, 700, 800, 900) */
  font-style: normal;
}

